---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostCard, {
    type IReferencePost,
} from "../../components/ContentMD.astro";
import PostToc from "../../components/Post/PostTOC.astro";
import CategoriesComponent from "../../components/CategoriesComponent.astro";
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}
const authors = await getCollection("authors");

const { post } = Astro.props;
const { Content, headings } = await render(post);
// Check and get prevPost, nextPost
const getValidPost = async (postRef: any) => {
    if (!postRef || postRef === "none") return undefined; // Tránh trả về null
    const postId = typeof postRef === "string" ? postRef : postRef.id;

    const entry = await getEntry("blog", postId);
    if (!entry) return undefined;

    return {
        id: entry.id,
        data: {
            title: entry.data.title,
            desc: entry.data.desc || "",
            author: entry.data.author,
            relatedPosts: entry.data.relatedPosts || [],
            pubDate: entry.data.pubDate,
            updatedDate: entry.data.updatedDate,
            tags: entry.data.tags || [],
            categories: entry.data.categories || [],
        },
        collection: entry.collection,
    } satisfies IReferencePost;
};

const prevPost = await getValidPost(post.data.prevPost);
const nextPost = await getValidPost(post.data.nextPost);
---

<Layout>
    <PostToc headings={headings} />

    <div class="flex flex-col xl:flex-row xl:px-32">
        <div class="hidden xl:block min-w-72 max-w-72 pl-8">
            <CategoriesComponent />
        </div>

        <div class="flex-1 xl:flex">
            <PostCard
                class="xl:ml-36"
                Content={Content}
                title={post.data.title}
                desc={post.data.desc}
                author={authors.find((a) => a.id === post.data.author.id)?.data}
                tags={post.data.tags}
                pubDate={post.data.pubDate}
                updatedDate={post.data.updatedDate}
            />
        </div>
    </div>
    <div
        class="flex justify-center gap-1 items-center rounded-md break-words px-6 md:px-2 max-w-3xl mx-auto my-4 p-2"
    >
        {
            prevPost && (
                <a
                    href={`/blog/${prevPost.id}`}
                    class="group h-full w-full text-center"
                >
                    <button
                        class="hover:bg-gray-50 h-full w-full cursor-pointer rounded-xl 
                           transition-all hover:scale-105 font-semibold px-4 py-2 
                           flex flex-col items-center justify-center"
                    >
                        <span class="group-hover:underline group-hover:text-blue-500 text-lg">
                            {prevPost.data.title.length > 26
                                ? prevPost.data.title.slice(0, 26) + "..."
                                : prevPost.data.title}
                        </span>
                        <span class="text-3xl">«</span>
                    </button>
                </a>
            )
        }

        {prevPost && nextPost && <div class="border-l h-6 border-gray-400" />}

        {
            nextPost && (
                <a
                    href={`/blog/${nextPost.id}`}
                    class="group h-full w-full text-center"
                >
                    <button
                        class="hover:bg-gray-50 h-full w-full cursor-pointer rounded-xl 
                           transition-all hover:scale-105 font-semibold px-4 py-2 
                           flex flex-col items-center justify-center"
                    >
                        <span class="group-hover:underline group-hover:text-blue-500 text-lg">
                            {nextPost.data.title.length > 26
                                ? nextPost.data.title.slice(0, 26) + "..."
                                : nextPost.data.title}
                        </span>
                        <span class="text-3xl">»</span>
                    </button>
                </a>
            )
        }
    </div>
</Layout>
