---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ContentMD, {
    type IReferencePost,
} from "../../components/ContentMD.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import CategoriesComponent from "../../components/CategoriesComponent.astro";
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}
const authors = await getCollection("authors");

const { post } = Astro.props;
const { Content, headings } = await render(post);
// Check and get prevPost, nextPost
const getValidPost = async (postRef: any) => {
    if (!postRef || postRef === "none") return undefined; // Tránh trả về null
    const postId = typeof postRef === "string" ? postRef : postRef.id;

    const entry = await getEntry("blog", postId);
    if (!entry) return undefined;

    return {
        id: entry.id,
        data: {
            title: entry.data.title,
            desc: entry.data.desc || "",
            author: entry.data.author,
            relatedPosts: entry.data.relatedPosts || [],
            pubDate: entry.data.pubDate,
            updatedDate: entry.data.updatedDate,
            tags: entry.data.tags || [],
            categories: entry.data.categories || [],
        },
        collection: entry.collection,
    } satisfies IReferencePost;
};

const prevPost = await getValidPost(post.data.prevPost);
const nextPost = await getValidPost(post.data.nextPost);
---

<Layout>
    <TableOfContents headings={headings} />

    <div class="flex flex-col xl:flex-row">
        <div class="hidden xl:block min-w-72 max-w-72 pl-8">
            <CategoriesComponent />
        </div>

        <div class="flex-1 xl:flex justify-start">
            <ContentMD
                class="xl:ml-36"
                Content={Content}
                title={post.data.title}
                desc={post.data.desc}
                author={authors.find((a) => a.id === post.data.author.id)?.data}
                tags={post.data.tags}
                pubDate={post.data.pubDate}
                updatedDate={post.data.updatedDate}
                nextPost={nextPost as IReferencePost | undefined}
                prevPost={prevPost as IReferencePost | undefined}
            />
        </div>
    </div>
</Layout>
