---
import '@/styles/globals.css'
import logo from '../assets/logo.svg'
import avt from "../assets/Avatar.jpg"

import { Button } from '@/components/ui/button';
import { Separator } from "@/components/ui/separator"
import { Badge } from "@/components/ui/badge"
import {
    Card,
    CardContent,
    CardDescription,
    CardHeader,
    CardTitle,
} from "@/components/ui/card"
import { Label } from "@/components/ui/label"
import { Input } from "@/components/ui/input"
import { Textarea } from "@/components/ui/textarea"
import { Accordion } from "@/components/Accordion";



import githubLogo from "../assets/brand/github.svg"
import linkedinLogo from "../assets/brand/linkedin.svg"
import csharpLogo from "../assets/brand/csharp.svg"
import javascriptLogo from "../assets/brand/javascript.svg"
import typescriptLogo from "../assets/brand/typescript.svg"
import pythonLogo from "../assets/brand/python.svg"
import dotnetLogo from "../assets/brand/dotnet.svg"
import nestjsLogo from "../assets/brand/nestjs.svg"
import reactjsLogo from "../assets/brand/reactjs.svg"
import nextjsLogo from "../assets/brand/nextjs.svg"
import mongodbLogo from "../assets/brand/mongo.svg"
import sqlserverLogo from "../assets/brand/sql.svg"
import mysqlLogo from "../assets/brand/mysql.svg"
import postgresqlLogo from "../assets/brand/postgresql.svg"
import dockerLogo from "../assets/brand/docker.svg"
import gitLogo from "../assets/brand/git.svg"
import notionLogo from "../assets/brand/notion.svg"
import astroLogo from "../assets/brand/astro.svg"
import powerappsLogo from "../assets/brand/powerapps.svg"
import shadcnuiLogo from "../assets/brand/shadcnui.svg"

const navItems = [
	{
		title: "About",
		url: "#about"
	},
	{
		title: "Education",
		url: "#education"
	},
	{
		title: "Skills",
		url: "#skills"
	},
	{
		title: "Experience",
		url: "#exp"
	},
	{
		title: "Projects",
		url: "#projects"
	},
	{
		title: "Contact",
		url: "#contact"
	},
]

const accordionData = [
	{
		title: "AIG",
		description: "AIG (ASIA Ingredients GROUP) is the leading company in Vietnam in the field of supplying and manufacturing food ingredients. I work as a Application Specialist and a Microsoft Power Platform developer here, responsible for building and maintaining internal applications.",
		list: [
			{
				description: "Analyze user requirements and translate them into actionable development plans."
			},
			{
				description: "Identify and implement optimal solutions to meet development objectives."
			},
			{
				description: "Provide user training to ensure effective adoption and utilization of applications."
			},
			{
				description: "Deliver ongoing support, manage operations, and ensure the seamless maintenance of applications."
			}
		]
	}
];

const projectItems = [
	{
		title: "Algorithm Visualizer",
		description: "Dec 2024",
		img: "",
		url: "https://github.com/OssiLV/Algorithm-visualizer"
	},
	{
		title: "PDF Extension",
		description: "Aug 2024",
		img: "",
		url: "https://github.com/OssiLV/Winform-PDF-Extensions"
	},
	{
		title: "Car Booking",
		description: "Aug 2024 - Oct 2024",
		img: "",
		url: "https://github.com/OssiLV/CarBooking"
	},
	{
		title: "LMS Elearning",
		description: "Oct 2024 - Nov 2024",
		img: "",
		url: "https://github.com/OssiLV/LMS_Elearning"
	},
	{
		title: "Discord Clone",
		description: "Sep 2023 - Sep 2023",
		img: "",
		url: "https://github.com/OssiLV/Discord-Clone"
	}
];

const resumeAddress = "https://1drv.ms/b/s!AoJ0r2DuYQANg_gtDkfS1TUvMONJgA?e=388g4k"

---

<html>
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href={logo.src} type="image/svg+xml" />
    <title>OssiLV</title>
  </head>

  <body class="">
	<!-- Header -->
	<header class="sticky top-0 z-50 w-full h-6 md:h-16 md:border-b border-border/40 bg-background/95 md:backdrop-blur supports-[backdrop-filter]:bg-background/60 dark:border-border">
		<div class=" max-w-7xl mx-auto px-6 py-4 flex-col justify-center">
			<!-- Navigation -->
			<nav class="hidden md:flex justify-center space-x-8">
				{navItems.map(item => <a href={item.url} class="hover:text-slate-900/80 transition-all duration-150 ">{item.title}</a>)}
				<a href={resumeAddress} download="CV_VO_HOANG_ANH_TRUONG.pdf">
					<Button size="sm" variant="outline" className="w-full transition-all duration-150">Download CV</Button>
				</a>
			</nav>
			<div class="md:hidden flex justify-end">
				<a href={resumeAddress} download="CV_VO_HOANG_ANH_TRUONG.pdf">
					<Button size="sm" variant="default" className="w-full transition-all duration-150">Download CV</Button>
				</a>
			</div>
		</div>
		
	</header>

	

	<div class="flex-col min-h-screen p-8 md:p-24 ">
		<!-- Avatar -->
		<div class="flex h-48 items-center gap-8">
			<div>
				<small class="text-sm font-medium leading-none">Hello, I'm Truong,</small>
				<h2 class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0">
					Full stack Developer
				</h2>
				<div class="flex-col md:grid md:grid-cols-2 md:grid-flow-col md:justify-start">
					<a href="https://github.com/OssiLV" class="flex gap-2">
						<img src={githubLogo.src} width="28" height="28">
						<Button variant="link" className='p-0'>Github</Button>
					</a>
					<a href="https://www.linkedin.com/in/ossilv/" class="flex gap-2">
						<img src={linkedinLogo.src} width="26" height="26">
						<Button variant="link" className='p-0'>LinkedIn</Button>
					</a>					
				</div>
				<div>
					<Button variant="link" className='p-0'>
						<a href="#contact">Contact Me</a>
					</Button>
				</div>
			</div>
			<img class="w-36 h-36 md:w-44 md:h-44 rounded-3xl" src={avt.src} alt="@OssiLV">
			<!-- <AvatarComponent client:load src={avt.src} alt="" fallbackText="OLV"/> -->
		</div>

		<!-- About -->
		<div id="about" class="mt-16">
			<h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
				About
			</h3>
			<Separator/>
			<p class="leading-7 [&:not(:first-child)]:mt-6">
				Enthusiastic Backend Developer with 1 year of experience specializing in Microsoft Power Platform (Power Apps, Power Automate, SharePoint) and API integration, including ERP AX 2012. Skilled in streamlining data flow and enhancing system interoperability, with a goal to grow into a full-stack developer. Actively seeking opportunities to expand skills and deliver innovative solutions in a collaborative environment.
			  </p>
		</div>

		<!-- Education -->
		<div id="education" class="mt-16">
			<h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
				Education
			</h3>
			<Separator/>
			<div class="pt-4">
				<div class="flex gap-4 relative h-24">
				  	<!-- Timeline Line -->
				  	<div class="absolute top-0 left-5 h-full w-1 bg-gray-300"></div>
				  
				  	<!-- Circle with Step Number -->
				  	<div class="w-10 h-10 bg-green-500 rounded-full flex items-center justify-center text-white font-semibold z-10"></div>
			  
				  	<!-- Details -->
				  	<div>
						<p class="text-sm text-gray-500">2021 - 2024 (Software application major)</p>
						<h3 class="text-lg font-semibold text-gray-800">Bach Khoa Saigon College</h3>
						<p class="text-sm">GPA: 3.7 / 4</p>
				  	</div>
				</div>

				<div class="flex gap-4 relative">
					<!-- Timeline Line -->
					<div class="absolute top-0 left-5 h-full w-1 bg-gray-300"></div>
				
					<!-- Circle with Step Number -->
					<div class="w-10 h-10 bg-orange-500 rounded-full flex items-center justify-center text-white font-semibold z-10"></div>
			
					<!-- Details -->
					<div>
						<p class="text-sm text-gray-500">2024 - Present (Information technology)</p>
						<h3 class="text-lg font-semibold text-gray-800"> University of Information Technology</h3>
						<!-- <p class="text-sm">GPA: </p> -->
				  	</div>
			  </div>
			</div>
		</div>

		<!-- Skills -->
		<div id="skills" class="mt-16">
			<h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
				Skills
			</h3>
			<Separator/>
			<ul class="my-6 ml-6 list-disc [&>li]:mt-2">
				<!-- Programing languages -->
				<li>
					<p>
						Programming Languages:
					</p>
					<Badge variant="outline" className='gap-2'>
						<img src={csharpLogo.src} width="28" height="28">
						C Sharp
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={javascriptLogo.src} width="28" height="28">
						JavaScript
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={typescriptLogo.src} width="28" height="28">
						TypeScript
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={pythonLogo.src} width="28" height="28">
						Python
					</Badge>

				</li>
				
				<!-- Frameworks & Libraries -->
				<li>
					<p>
						Frameworks & Libraries:
					</p>
					<Badge variant="outline" className='gap-2'>
						<img src={dotnetLogo.src} width="28" height="28">
						Dot Net
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={nestjsLogo.src} width="28" height="28">
						NestJS
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={nextjsLogo.src} width="28" height="28">
						NextJS
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={reactjsLogo.src} width="28" height="28">
						ReactJS
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={astroLogo.src} width="28" height="28">
						Astro
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src="https://th.bing.com/th?id=ODLS.7ee38d86-4472-452b-806c-fd7945e59518&w=32&h=32&qlt=90&pcl=fffffa&o=6&pid=1.2" width="28" height="28">
						ExpressJS
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src="https://th.bing.com/th?id=ODLS.095f9b22-a70b-47ed-bdb1-070466f08dc4&w=32&h=32&qlt=90&pcl=fffffa&o=6&pid=1.2" width="28" height="28">
						Tailwind
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={shadcnuiLogo.src} width="28" height="28">
						Shadcn/ui
					</Badge>
				</li>

				<!-- Databases -->
				<li>
					<p>
						Databases:
					</p>
					<Badge variant="outline" className='gap-2'>
						<img src={mongodbLogo.src} width="28" height="28">
						MongoDB
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={sqlserverLogo.src} width="28" height="28">
						SQL Server
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={mysqlLogo.src} width="28" height="28">
						My SQL
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={postgresqlLogo.src} width="28" height="28">
						PostgreSQL
					</Badge>
					
				</li>

				<!-- Tools & Technologies -->
				<li>
					<p>
						Tools & Technologies:
					</p>
					<Badge variant="outline" className='gap-2'>
						<img src={dockerLogo.src} width="28" height="28">
						Docker
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={gitLogo.src} width="28" height="28">
						Git
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={githubLogo.src} width="28" height="28">
						Github
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src="https://cdn.holistics.io/logo-dbdiagram-notext.ico" width="28" height="28">
						dbdiagram.io
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src={notionLogo.src} width="28" height="28">
						Notion
					</Badge>
				</li>

				<!--Others -->
				<li>
					<p>
						Others:
					</p>
					<Badge variant="outline" className='gap-2'>
						<img src={powerappsLogo.src} width="28" height="28">
						Power Apps
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src="https://th.bing.com/th?id=ODLS.b1b99407-23f4-4e90-9c28-e3c49a262a1b&w=32&h=32&qlt=95&pcl=fffffa&o=6&pid=1.2" width="28" height="28">
						Power Automate
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Socialfooter_Sharepoint_80x80_RE2lJfT?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=40&hei=40&qlt=100&fmt=png-alpha&fit=constrain" width="28" height="28">
						SharePoint
					</Badge>
					<Badge variant="outline" className='gap-2'>
						<img src="https://th.bing.com/th?id=ODLS.95a9cd09-19c6-459a-920d-669d797331cc&w=32&h=32&qlt=90&pcl=fffffa&o=6&pid=1.2" width="28" height="28">
						PowerBI
					</Badge>
				</li>

				<!-- Interests -->
				<!-- <li>
					<p>
						Interests:
					</p>
					<Badge variant="outline" className='gap-2'>
						<img src={dotnetLogo.src} width="28" height="28">
						Dot Net
					</Badge>
				</li> -->
			  </ul>
		</div>

		<!-- Experience -->
		<div id="exp" class="mt-16">
			<h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
				Experience
			</h3>
			<Separator/>
			<Accordion data={accordionData} client:idle />
		</div>

		<!-- Projects -->
		<div id="projects" class="mt-16">
			<h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
				Projects
			</h3>
			<Separator/>
			<div class="grid grid-cols-2 mt-4 md:grid-cols-3 gap-4 max-h-48 md:max-h-72 overflow-y-auto">
				{projectItems.map(item => {
					return <Card key={item.title} className="">
								<CardHeader>
									<CardTitle>{item.title}</CardTitle>
									<CardDescription>{item.description}</CardDescription>
								</CardHeader>
								<CardContent className="w-36 h-14">
									<Button size="sm" variant="link" className="p-0 text-blue-900 underline">
										<a href={item.url}>Go to project</a>
									</Button>
								</CardContent>
							</Card>
				})}
			</div>
		</div>

		<!-- Contact -->
		<div id="contact" class="mt-16">
			<h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
				Contact
			</h3>
			<Separator/>
			<p class="mt-6 list-disc [&>li]:mt-2 text-md text-gray-600 mb-12">I would love to hear from you! Please fill out the form below to get in touch.</p>



			<form id="contact_form" action="https://api.web3forms.com/submit" method="POST" class="space-y-6">
				<input type="hidden" name="access_key" value="c0eb8e3f-6c12-4f49-a69b-3ed04070d4d0">
				<input type="hidden" name="from_name" value="Get in touch">
				<input type="hidden" name="subject" value="Someone wanna get in touch from your portfolio website">
				

				<!-- Name Field -->
				<div>
					<Label htmlFor="name" className="block text-sm font-medium text-gray-700">Full Name</Label>
					<Input type="text" id="name" name="name" required placeholder="Your Full Name"/>
				</div>

				<!-- Email Field -->
				<div>
					<Label htmlFor="email" className="block text-sm font-medium text-gray-700">Email</Label>
					<Input type="email" id="email" name="email" required placeholder="Your Email Address"/>
				</div>

				<!-- Message Field -->
				<div>
					<Label htmlFor="message" className="block text-sm font-medium text-gray-700">Message</Label>
					<Textarea
						placeholder="Your Message"
						id="message" name="message"  required
                 
                	/>
					<!-- <textarea id="message" name="message" rows="4" required placeholder="Your Message" class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"></textarea> -->
				</div>

				<div class="h-captcha" data-captcha="true"></div>

				<!-- Submit Button -->
				<Button type="submit">
					Send Message
				</Button>
			</form>

			
		</div>
	</div>
	<script lang="">
		const form = document.getElementById('contact_form');
		form.addEventListener('submit', function(e) {
			
			const hCaptcha = form.querySelector('textarea[name=h-captcha-response]').value;
		
			if (!hCaptcha) {
				e.preventDefault();
				alert("Please hit checkbox captcha")
				return
			}
		});
	</script>
	<script src="https://web3forms.com/client/script.js" async defer></script>
  </body>
  
</html>
