---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

// Object save number post in category
const categoryCounts: Record<
    string,
    { count: number; subcategories: Record<string, number> }
> = {};

posts.forEach((post) => {
    post.data.categories.forEach((category) => {
        // Increase count for each parent category
        if (!categoryCounts[category.name]) {
            categoryCounts[category.name] = { count: 0, subcategories: {} };
        }
        categoryCounts[category.name].count++;

        // Increase count for each subcategory
        category.subcategories?.forEach((sub) => {
            if (!categoryCounts[category.name].subcategories[sub]) {
                categoryCounts[category.name].subcategories[sub] = 0;
            }
            categoryCounts[category.name].subcategories[sub]++;
        });
    });
});

// Convert object to array to render
const categories = Object.entries(categoryCounts).sort(([a], [b]) =>
    a.localeCompare(b)
);
---

<div>
    <div class="px-6 md:px-2 max-w-3xl mx-auto py-6">
        <ul class="space-y-4">
            {
                categories.map(([category, data]) => (
                        <li>
                            <a
                                    href={`/categories/${category.toLowerCase()}`}
                                    class="text-lg font-semibold text-purple-800 hover:text-purple-600 transition-all hover:underline block"
                            >
                                {category}
                                <span class="ml-1 text-gray-500">({data.count})</span>
                            </a>

                            {Object.keys(data.subcategories).length > 0 && (
                                    <ul class="mt-2 ml-4 space-y-2 border-l border-gray-200 pl-4">
                                        {Object.entries(data.subcategories).map(([sub, count]) => (
                                                <li>
                                                    <a
                                                            href={`/categories/${sub.toLowerCase()}`}
                                                            class="text-sm text-purple-500 hover:text-purple-500 transition-all hover:underline block"
                                                    >
                                                        {sub}
                                                        <span class="ml-1 text-gray-400">({count})</span>
                                                    </a>
                                                </li>
                                        ))}
                                    </ul>
                            )}
                        </li>
                ))
            }
        </ul>
    </div>
</div>
