---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

// Object save number post in category
const categoryCounts: Record<
    string,
    { count: number; subcategories: Record<string, number> }
> = {};

posts.forEach((post) => {
    post.data.categories.forEach((category) => {
        // Increase count for each parent category
        if (!categoryCounts[category.name]) {
            categoryCounts[category.name] = { count: 0, subcategories: {} };
        }
        categoryCounts[category.name].count++;

        // Increase count for each subcategory
        category.subcategories?.forEach((sub) => {
            if (!categoryCounts[category.name].subcategories[sub]) {
                categoryCounts[category.name].subcategories[sub] = 0;
            }
            categoryCounts[category.name].subcategories[sub]++;
        });
    });
});

// Convert object to array to render
const categories = Object.entries(categoryCounts);
---

<div>
    <h2
        class="scroll-m-20 pb-2 text-xl font-semibold tracking-tight first:mt-0"
    >
        Categories
    </h2>
    <ul>
        {
            categories.map(([category, data]) => (
                <li class="">
                    <a
                        href={`/categories/${category.toLowerCase()}`}
                        class="font-semibold  hover:text-blue-500 transition-all hover:underline break-words max-w-full block hover:scale-105"
                    >
                        {category}
                        <span class="text-black ">({data.count})</span>
                    </a>

                    {Object.keys(data.subcategories).length > 0 && (
                        <ul>
                            {Object.entries(data.subcategories).map(
                                ([sub, count]) => (
                                    <li class="pl-4">
                                        <a
                                            href={`/categories/${sub.toLowerCase()}`}
                                            class="  hover:text-blue-500 transition-all hover:underline break-words max-w-full block hover:scale-105"
                                        >
                                            {sub}{" "}
                                            <span class="text-black">
                                                ({count})
                                            </span>
                                        </a>
                                    </li>
                                )
                            )}
                        </ul>
                    )}
                </li>
            ))
        }
    </ul>
</div>
