---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import TagPill from "./TagPill.astro";
import type { ReferenceDataEntry } from "astro:content";
import { undefined } from "astro:schema";

export interface IReferencePost {
    id: string;
    data: {
        title: string;
        desc?: string;
        author: ReferenceDataEntry<"authors", string>;
        relatedPosts: ReferenceDataEntry<"blog", string>[];
        pubDate: Date;
        updatedDate: Date;
        tags?: string[];
        categories: { name: string; subcategories?: string[] }[];
    };
    collection: string;
}

interface Props {
    title: string;
    desc?: string;
    prevPost?: IReferencePost;
    nextPost?: IReferencePost;
    pubDate: Date;
    updatedDate: Date;
    tags?: string[];
    author?: {
        name?: string;
        sourceURL?: string;
        isCurrentSite?: boolean;
    };
    class?: string;
    Content: AstroComponentFactory;
    relatedPosts?: IReferencePost[];
}

const {
    title,
    desc,
    pubDate,
    updatedDate,
    tags,
    author,
    Content,
    relatedPosts,
    prevPost,
    nextPost,
    class: customClass,
} = Astro.props;
---

<div class={`${customClass}`}>
    <div class={`break-words px-6 md:px-2 max-w-3xl mx-auto mb-4 `}>
        <h1
            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-4"
        >
            {title}
        </h1>
        <p class="leading-7">
            {desc}
        </p>
        <p class="text-sm text-slate-500">
            Published date: {
                pubDate.toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>
        <p class="text-sm text-slate-500">
            Updated date: {
                updatedDate.toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>
        <a
            href=`${author?.isCurrentSite ? Astro.url.origin + author.sourceURL: author?.sourceURL}`
            class="text-sm text-slate-700/90 underline font-semibold"
            >{author?.name}</a
        >
    </div>

    <article class="prose break-words px-6 md:px-2 max-w-3xl mx-auto">
        <Content />
    </article>

    <div class="mt-8 break-words px-6 md:px-2 max-w-3xl mx-auto">
        {tags?.map((tag) => <TagPill tag={tag} />)}
    </div>

    <div class="w-full flex justify-between items-center h-28 gap-2 px-4">
        {
            prevPost && (
                <a
                    href={`/blog/${prevPost.id}`}
                    class="group h-full w-full text-center"
                >
                    <button
                        class="hover:bg-slate-100 h-full w-full cursor-pointer rounded-xl 
                           transition-all hover:scale-105 font-semibold px-4 py-2 
                           flex flex-col items-center justify-center"
                    >
                        <span class="group-hover:underline group-hover:text-blue-500 text-lg">
                            {prevPost.data.title.length > 26
                                ? prevPost.data.title.slice(0, 26) + "..."
                                : prevPost.data.title}
                        </span>
                        <p class="text-3xl">«</p>
                    </button>
                </a>
            )
        }

        {prevPost && nextPost && <div class="border-l h-6 border-gray-400" />}

        {
            nextPost && (
                <a
                    href={`/blog/${nextPost.id}`}
                    class="group h-full w-full text-center"
                >
                    <button
                        class="hover:bg-slate-100 h-full w-full cursor-pointer rounded-xl 
                           transition-all hover:scale-105 font-semibold px-4 py-2 
                           flex flex-col items-center justify-center"
                    >
                        <span class="group-hover:underline group-hover:text-blue-500 text-lg">
                            {nextPost.data.title.length > 26
                                ? nextPost.data.title.slice(0, 26) + "..."
                                : nextPost.data.title}
                        </span>
                        <p class="text-3xl">»</p>
                    </button>
                </a>
            )
        }
    </div>
</div>
