---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import PostCard from "../../../components/PostCard.astro";
export async function getStaticPaths() {
    const posts = await getCollection("blog");

    // Tạo danh sách tất cả tag từ bài viết
    const tags = new Set(posts.flatMap((post) => post.data.tags));

    return Array.from(tags).map((tag) => ({
        params: { tag },
        props: {
            posts: posts.filter((post) => post.data.tags.includes(tag)),
        },
    }));
}

const allPosts = await getCollection("blog");
const tag = Astro.params.tag; // Lấy giá trị tag từ URL
const filteredPosts = allPosts.filter((post) =>
    post.data.tags.includes(tag as string)
);
const authors = await getCollection("authors");
---

<Layout>
    <!-- Ô Input Tìm Kiếm -->
    <div class="px-4 lg:px-44 mb-2">
        <input
            type="text"
            id="titleInput"
            placeholder="Search by title..."
            class="w-full p-2 border rounded-md"
        />
    </div>

    <!-- Danh Sách Bài Viết -->
    <div class="px-4 lg:px-44 grid grid-cols-1 gap-4 lg:grid-cols-3">
        {
            filteredPosts.map((post) => (
                <PostCard
                    id={post.id}
                    title={post.data.title}
                    desc={post.data.desc}
                    pubDate={post.data.pubDate}
                    updatedDate={post.data.updatedDate}
                    tags={post.data.tags}
                    author={
                        authors.find((a) => a.id === post.data.author.id)?.data
                    }
                    data-title={post.data.title.toLowerCase()}
                    data-tags={JSON.stringify(
                        post.data.tags.map((tag) => tag.toLowerCase())
                    )}
                    class="post-item"
                />
            ))
        }
    </div>
</Layout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const inputElement = document.getElementById("titleInput");
        if (inputElement instanceof HTMLInputElement) {
            inputElement.addEventListener("input", filterPosts);
        }
    });

    function filterPosts() {
        const input = document.getElementById("titleInput");
        if (!(input instanceof HTMLInputElement)) return;

        const query = input.value.toLowerCase();
        const posts = document.querySelectorAll(".post-item");

        posts.forEach((post) => {
            if (post instanceof HTMLElement) {
                const title = post.getAttribute("contents-title") || "";
                post.style.display = title.includes(query) ? "block" : "none";
            }
        });
    }
</script>
